.browse {
  &__header {
    margin-top: 100px;

    & .section__header {
      margin-bottom: 30px;
    }

    & .section__subtitle {
      text-transform: none;
    }
  }

  &__main {
    padding: 0;
    margin-bottom: 2px;
  }
}
