.btn {
  height: 60px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--call-to-action);
  border-radius: 20px;
  background-color: var(--call-to-action);
  color: var(--white-text);
  text-align: center;
  font-size: 16px;
  font-family: var(--main-font-semibold);
  line-height: 140%;
  transition: background .3s ease-in-out,
              color .3s ease-in-out,
              border .3s ease-in-out,
              opacity .3s ease-in-out;

  &--dark {
    border: 2px solid var(--call-to-action);
    background-color: var(--background);
    color: var(--call-to-action);

    @include hover {
      background-color: var(--light-gradient) !important;
      border: 2px  solid var(--light-gradient);
      color: var(--background) !important;
    }
  }

  &--light {
    color: var(--background);
    background-color: var(--white-text);

    @include hover {
      color: var(--white-text) !important;
      background-color: var(--light-gradient) !important;
      border: 2px solid var(--white-text);
    }
  }

  &--large {
    padding: 16px 20px 16px 40px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    @include mini-tablet {


    }
  }

  &--mt20 {
    margin-top: 20px;
  }

  &--p20 {
    padding: 0 20px;
  }

  &--p30 {
    padding: 0 30px;

    @include mini-desktop {
      padding: 0 15px;
    }
  }

  &--user {
    path {
      fill: var(--white-text);
      transition: fill .3s ease-in-out;
    }

    @include hover {
      path {
        fill: var(--light-gradient);
      }
    }

    @include mini-tablet {
      position: relative !important;
      top: 0;
    }
  }

  &--rocket {
    path {
      fill: var(--white-text);
      transition: fill .3s ease-in-out;
    }

    &--call {
      path {
        fill: var(--call-to-action);
        transition: fill .3s ease-in-out;
      }

      @include hover {
        path {
          fill: var(--background);
        }
      }
    }

    @include hover {
      path {
        fill: var(--light-gradient);
      }
    }
  }

  &--eye {
    path {
      fill: var(--white-text);
      transition: fill .3s ease-in-out;
    }

    @include hover {
      path {
        fill: var(--light-gradient);
      }
    }

    &--call {
      path {
        fill: var(--call-to-action);
        transition: fill .3s ease-in-out;
      }

      @include hover {
        path {
          fill: var(--background);
        }
      }
    }

    &--dark {
      path {
        fill: var(--background);
        transition: fill .3s ease-in-out;
      }

      @include hover {
        path {
          fill: var(--white-text);
        }
      }
    }
  }

  &--envelope {
    path {
      fill: var(--white-text);
      transition: fill .3s ease-in-out;
    }

    @include hover {
      path {
        fill: var(--light-gradient);
      }
    }
  }

  &--copy {
    path {
      fill: var(--white-text);
      transition: fill .3s ease-in-out;
    }

    @include hover {
      cursor: copy;
      path {
        fill: var(--light-gradient);
      }
    }
  }

  &--plus {
    path {
      fill: var(--call-to-action);
      transition: fill .3s ease-in-out;
    }

    @include hover {
      path {
        fill: var(--background);
      }
    }
  }

  &--arrow-right {
    path {
      fill: var(--call-to-action);
      transition: fill .3s ease-in-out;
    }

    @include hover {
      path {
        fill: var(--background)
      }
    }
  }

  &:focus {
    outline: none;
  }

  @include hover {
    color: var(--light-gradient);
    background-color: var(--background);
  }

  &:active {
    background-color: var(--light-gradient);
  }
}

.btn.focus-visible {
  outline: 2px solid var(--call-to-action);
  outline-offset: 3px;
  border-radius: 20px;
  opacity: .8;
}
