.creators {
  &__list {
    counter-reset: rank;
    grid-template-rows: repeat(3, 1fr);

    @include big-tablet {
      grid-template-rows: repeat(4, 1fr);
    }
    @include tablet {
      grid-template-rows: repeat(6, 1fr);
    }

    @include mini-tablet {
      margin-bottom: 100px;
      grid-template-rows: repeat(12, 1fr);
    }
  }

  &__item {
    grid-column: 3 span;
    grid-row: 1 span;

    @include big-tablet {
      grid-column: 4 span
    }

    @include tablet {
      grid-column: 6 span;
    }

    @include mini-tablet {
      grid-column: 12 span;
    }
  }

  &__card {

    position: relative;

    &::before {
      counter-increment: rank;
      content: counter(rank);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 5px;
      left: 5px;
      border-radius: 50%;
      background: var(--background);
      color: var(--caption-label-text);
      font-size: 16px;
      font-family: var(--second-font);
      line-height: 140%;
    }
    
    @include tablet {
      flex-direction: row;
    }

    @include mini-tablet {
      padding: 10px;
    }
  }
}
