.discover {
  &__list {
    grid-template-columns: repeat(3, 1fr);

    @include big-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mini-tablet {
      margin-bottom: 100px;
    }

    @include big-mobile {
      grid-template-columns: auto;
    }
  }

  &__item {
    @include big-tablet {
      display: flex;
      &:nth-child(n+3) {
        display: none;
      }
    }

    @include big-mobile {
      display: flex;
      &:nth-child(n+2) {
        display: none;
      }
    }
  }

  & .card {
    padding: 0 30px 25px;

    &__link {
      margin: 0 -30px;
    }

    &__bottom {
      gap: 5px;
    }
  }
}
