.discover {
  &__list {
    gap: 30px;
  }

  & .card {
    padding: 0 30px 25px;

    &__link {
      margin: 0 -30px;
    }

    &__bottom {
      gap: 5px;
    }

    &__author {
      margin-bottom: 20px;
    }
  }
}
