.footer {
  clear: both;

  & .container {
    background-color: var(--background-secondary);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__logo {
    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-text {
      width: 199.414px;
      height: 19.8px;
      flex-shrink: 0;
    }
  }

  &__column {
    max-width: 25%;

    &:last-of-type {
      min-width: 40%;
    }

    @include big-tablet {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__top {
    max-width: 987px;
    margin: 0 auto;
    margin-bottom: 30px;
    justify-content: space-between;
    gap: 84px;

    @include big-tablet {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    @include mini-tablet {
      margin-bottom: 86px;
    }
  }

  &__title {
    margin-bottom: 25px;
    color: var(--white-text);
    font-size: 22px;
    font-family: var(--second-font-bold);
    line-height: 160%;
    text-transform: capitalize;
  }

  &__text {
    display: block;
    margin-bottom: 20px;
    color: #ccc;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 140%;

  }

  &__link {
    transition: color .3s ease-in-out;

    @include hover {
      color: var(--light-gradient);
    }
  }

  &__bottom {
    padding-top: 20px;
    border-top: 1px solid var(--caption-label-text);
  }

  &__copy {
    margin: 0;
    color: #ccc;
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 110%;
  }
}
