.form {
  width: 100%;
  position: relative;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-top: 30px;
    }
  }

  &__input {
    height: 60px;
    width: 100%;
    padding: 16px 150px 16px 20px;
    color: var(--background);
    background-color: var(--white-text);
    border-radius: 20px;
    outline: none;

    &::placeholder {
      color: var(--background-secondary);
      font-size: 16px;
      font-family: var(--main-font);
      line-height: 140%;
    }

    @include mini-tablet {
      height: 46px;
      max-width: 315px;
      padding-right: 20px;
    }
  }

  &__btn {
    padding: 0 30px;

    &--inline {
      position: absolute;
      top: 0;
      right: 0;
    }

    @include mini-tablet {
      height: 46px;
      width: 315px;
      top: 62px;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &--register {
    width: 330px;

    & .form__input {
      height: 46px;
      padding: 16px 20px 16px 52px;
      border: 1px solid var(--caption-label-text);
      display: block;
    }

    & .form__btn {
      width: 100%;
      max-width: 315px;
      height: 46px;

      @include mini-tablet {
        transform: translateX(0);
      }
    }

    & .form__icon {
      path {
        fill: var(--caption-label-text)
      }
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }
  }

  @include mini-tablet {
    margin: 0 auto;
  }
}
