.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--background);

  &__container {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mini-desktop {
      padding: 15px 50px;
    }

    @include small-tablet {
      padding: 15px 30px;
    }
  }

  &__logo {
    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-text {
      width: 199.414px;
      height: 19.8px;
      flex-shrink: 0;
    }
  }
}

.nav {
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: transform .3s ease-in-out;

    @include tablet {

      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 20px;
      background-color: var(--background-secondary);
      position: absolute;
      left: 50%;
      transform: translate(-50%, -200%);
    }
  }

  &__item {
    padding: 0px 20px;

    &:last-child {
      padding: 0;
      & .nav__link::after {
        display: none;
      }
    }

    @include mini-desktop {
      padding: 0;
    }
  }

  &__link {
    position: relative;
    text-align: center;
    font-size: 16px;
    font-family: var(--main-font-semibold);
    line-height: 140%;
    color: var(--white-text);
    transition: color .3s ease-in-out, opacity .3s ease-in-out, transform .3s ease-in-out;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: var(--call-to-action);
      position: absolute;
      bottom: 0;
      opacity: 0;
      transform: translateY(40px);
      transition: transform .3s ease-in-out, background .3s ease-in-out, opacity .3s ease-in-out;
    }

    &:focus {
      outline: none;
    }

    @include hover {
      color: var(--call-to-action);

      &::after {
        opacity: 1;
        transform: translateY(5px);
      }
    }

    &:active {
      color: var(--light-gradient);
    }
  }
}

.burger {
  @include burger;
  @include tablet {
    display: block;
  }
}

.menu--active {
  text-align: center;
  top: 80px;
  transform: translate(-50%, 0);

  @include mini-tablet {
    padding: 30px;
  }
}

.header__logo-link.focus-visible,
.nav__link.focus-visible {
  outline: 2px solid var(--call-to-action);
  outline-offset: 5px;
  border-radius: 5px;
  opacity: 0.8;
}
