.ratings {
  &__header {
    margin-top: 100px;

    & .section__header {
      margin-bottom: 0;
    }

    & .section__left {
      gap: 20px;
    }

    @include mini-desktop {
      margin-top: 90px;
    }

    @include tablet {
      margin-top: 62px;
    }
  }

  &__inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__main {
    padding: 0;
  }

  &__table {
    gap: 20px;
    flex-direction: column;
    display: flex;
    opacity: 0;
    max-height: 0;
    transition: opacity .6s ease-in-out, max-height .6s ease-in-out;

    &.active {
      max-height: 100%;
      opacity: 1;
    }

    &-header {
      width: 100%;
      height: 46px;
      padding: 12px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      border-radius: 20px;
      border: 1px solid var(--background-secondary);
      color: var(--caption-label-text);
      font-size: 16px;
      font-family: var(--second-font);
      line-height: 140%;

      @include big-mobile {
        gap: 15px;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-row {
      width: 100%;
      padding: 12px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      border-radius: 20px;
      background: var(--background-secondary);
      color: var(-white-text);
      font-size: 16px;
      font-family: var(--second-font);
      line-height: 140%;

      @include big-mobile {
        gap: 15px;
      }
    }
  }

  &__header {

    &-rank {
      width: 30px;
      flex-shrink: 0;

      @include tablet {
        width: 24px;
        height: 24px;
        font-size: 12px;
      }
    }

    &-artist {
      width: 380px;
      flex-shrink: 0;
      text-align: left;

      @include tablet {
        width: 366px;
      }

      @include mini-tablet {
        width: 276px;
      }

      @include big-mobile {
        width: 170px;
      }
    }

    &-change,
    &-sales,
    &-volume {
      width: 100%;
      text-align: left;
    }
  }

  &__rank {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    color: var(--caption-label-text);

    @include tablet {
      width: 24px;
      height: 24px;
      font-size: 12px;
    }
  }

  &__artist {
    width: 380px;
    flex-shrink: 0;

    @include tablet {
      width: 366px;
    }

    @include mini-tablet {
      width: 276px;
    }

    @include big-mobile {
      width: 170px;
    }
  }

  &__name {
    @include mini-tablet {
      font-size: 16px;
    }
  }

  &__link {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    @include tablet {
      gap: 12px;
    }
  }

  &__avatar {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    @include tablet {
      width: 32px;
      height: 32px;
    }

    @include mini-tablet {
      width: 24px;
      height: 24px;
    }
  }

  &__name {
    color: var(--white-text);
    font-family: var(--main-font-semibold);
    line-height: 140%;
    text-transform: capitalize;
  }

  &__change {
    &--plus {
      color: #00AC4F;
    }

    &--minus {
      color: #FFE500;
    }
  }

  &__change,
  &__sales,
  &__volume {
    width: 100%;
    text-align: left;
  }

  &__header-sales,
  &__sales {
    @include mini-desktop {
      display: none;
    }
  }

  &__header-change,
  &__change {
    @include tablet {
      display: none;
    }
  }
}
