.trending {
  &__list {
    grid-template-columns: repeat(3, 1fr);

    @include big-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include big-mobile {
      grid-template-columns: auto;
    }
  }
}
