.trending {
  &__list {
    grid-template-columns: repeat(3, 1fr);

    @include big-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include big-mobile {
      grid-template-columns: auto;
    }
  }

  & .collection {
    @include big-tablet {
      display: flex;
      &:nth-child(n+3) {
        display: none;
      }
    }

    @include big-mobile {
      display: flex;
      &:nth-child(n+2) {
        display: none;
      }
    }
  }
}
