.works {
  padding: 0;

  &__header {
    height: 70px;
    border-top: 1px solid var(--background-secondary);
    border-bottom: 1px solid var(--background-secondary);

    & .container {
      padding: 0 inherit;
    }
  }

  &__category-list {
    position: relative;
    height: 100%;
    justify-content: center;
  }

  &__category-item {
    height: 100%;
    flex-grow: 1;

    &::before {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--caption-label-text);
      opacity: 0;
      transition: opacity .6s ease-in-out;
    }

    &.active {
      position: relative;

      &::before {
        opacity: 1;
        width: 100%;
      }


      & .works__category-title {
        color: var(--white-text);
      }

      & .works__category-number {
        background-color: var(--caption-label-text);
      }
    }
  }

  &__category-link {
    position: relative;
    display: flex;
    gap: 16px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__category-title {
    margin: 0;
    color: var(--caption-label-text);
    font-size: 22px;
    font-family: var(--main-font-semibold);
    line-height: 140%;
    text-transform: capitalize;
    transition: color .6s ease-in-out;

    @include mini-desktop {
      font-size: 16px;
    }
  }

  &__category-number {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--background-secondary);
    color: var(--white-text);
    font-size: 16px;
    font-family: var(--second-font);
    line-height: 140%;
    transition: background-color .6s ease-in-out;

    @include mini-desktop {
      font-size: 12px;
    }

    @include mini-tablet {
      display: none;
    }
  }

  &__category-title,
  &__category-number {
    pointer-events: none;
  }

  &__main {
    margin-bottom: 2px;
    & .container {
      overflow: hidden;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 80px;
      padding-bottom: 80px;
      background-color: var(--background-secondary);

      @include tablet {
        padding-top: 60px;
        padding-bottom: 60px;
      }

      @include mini-tablet {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    & .card {
      background-color: var(--background);
    }
  }

  &__list {
    width: 1050px;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
    opacity: 0;
    max-height: 0;
    transition: opacity .6s ease-in-out, max-height .6s ease-in-out;

    &.active {
      max-height: 100%;
      opacity: 1;
    }
  }

  &__item,
  & .collection {
    @include small-desktop {
      &:nth-child(n+7) {
        display: none;
      }
    }

    @include medium_tablet {
      &:nth-child(n+4) {
        display: none;
      }
    }
  }
}
