<section class="browse__header">
  <div class="container">
    <div class="section__header">
      <div class="section__left">
        <div class="section__title">Browse Marketplace</div>
        <div class="section__subtitle">Browse through more than 50k NFTs on the NFT Marketplace.</div>
      </div>
    </div>
    <div class="search">
      <input type="text" placeholder="Search your favourite NFTs" class="search__input">
      <a type="submit" class="search__link">
        <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 5C9.25329 5 5 9.25329 5 14.5C5 19.7467 9.25329 24 14.5 24C19.7467 24 24 19.7467 24 14.5C24 9.25329 19.7467 5 14.5 5ZM3 14.5C3 8.14873 8.14873 3 14.5 3C20.8513 3 26 8.14873 26 14.5C26 20.8513 20.8513 26 14.5 26C8.14873 26 3 20.8513 3 14.5Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M21.2177 21.2177C21.6082 20.8272 22.2414 20.8272 22.6319 21.2177L28.7069 27.2927C29.0974 27.6832 29.0974 28.3164 28.7069 28.7069C28.3164 29.0974 27.6832 29.0974 27.2927 28.7069L21.2177 22.6319C20.8272 22.2414 20.8272 21.6082 21.2177 21.2177Z" fill="white"/>
        </svg>
      </a>
    </div>
  </div>
</section>
<section class="browse__main">
  <div class="works__header container">
    <ul class="works__category-list list-reset flex">
      <li data-id="NFT's" class="works__category-item active">
        <button class="works__category-link btn-reset">
          <p class="works__category-title">NFTs</p>
          <p class="works__category-number">12</p>
        </button>
      </li>
      <li data-id="Collections" class="works__category-item">
        <button class="works__category-link btn-reset">
          <p class="works__category-title">Collections</p>
          <p class="works__category-number">3</p>
        </button>
      </li>
    </ul>
  </div>
  <div class="works__main">
    <div class="container flex">
      <!-- #NFT's -->
      <ul id="NFT's" class="works__list list-reset flex active">
        <li class="works__item">
          <div class="card">
            <a href="nft-page.html" class="card__link">
              <img src="img/marketplace-1.png" srcset="img/marketplace-1_2x.png 2x" alt="NFT image" class="card__image">
            </a>
            <div class="card__bottom">
              <a href="nft-page.html" class="card__title">Magic Mushroom 0325</a>
              <a class="card__author" href="artist.html">
                <img class="card__avatar" src="img/avatar-7.png">
                <p>Shroomie</p>
              </a>
              <div class="card__worth">
                <div class="card__cost"><p>Price</p><span class="card__price">1.44 ETH</span></div>
                <div class="card__bid"><p>Highest Bid</p><span class="card__price">0.12 wETH</span></div>
              </div>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="card">
            <a href="nft-page.html" class="card__link">
              <img src="img/marketplace-2.png" srcset="img/marketplace-2_2x.png 2x" alt="NFT image" class="card__image">
            </a>
            <div class="card__bottom">
              <a href="nft-page.html" class="card__title">Happy Robot 032</a>
              <a class="card__author" href="artist.html">
                <img class="card__avatar" src="img/avatar-12.png">
                <p>BeKind2Robots</p>
              </a>
              <div class="card__worth">
                <div class="card__cost"><p>Price</p><span class="card__price">1.21 ETH</span></div>
                <div class="card__bid"><p>Highest Bid</p><span class="card__price">0.11 wETH</span></div>
              </div>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="card">
            <a href="nft-page.html" class="card__link">
              <img src="img/marketplace-3.png" srcset="img/marketplace-3_2x.png 2x" alt="NFT image" class="card__image">
            </a>
            <div class="card__bottom">
              <a href="nft-page.html" class="card__title">Happy Robot 024</a>
              <a class="card__author" href="artist.html">
                <img class="card__avatar" src="img/avatar-12.png">
                <p>BeKind2Robots</p>
              </a>
              <div class="card__worth">
                <div class="card__cost"><p>Price</p><span class="card__price">1.10 ETH</span></div>
                <div class="card__bid"><p>Highest Bid</p><span class="card__price">0.10 wETH</span></div>
              </div>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="card">
            <a href="nft-page.html" class="card__link">
              <img src="img/marketplace-4.png" srcset="img/marketplace-4_2x.png 2x" alt="NFT image" class="card__image">
            </a>
            <div class="card__bottom">
              <a href="nft-page.html" class="card__title">Designer Bear</a>
              <a class="card__author" href="artist.html">
                <img class="card__avatar" src="img/avatar-6.png">
                <p>Mr Fox</p>
              </a>
              <div class="card__worth">
                <div class="card__cost"><p>Price</p><span class="card__price">0.99 ETH</span></div>
                <div class="card__bid"><p>Highest Bid</p><span class="card__price">0.09 wETH</span></div>
              </div>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="card">
            <a href="nft-page.html" class="card__link">
              <img src="img/marketplace-5.png" srcset="img/marketplace-5_2x.png 2x" alt="NFT image" class="card__image">
            </a>
            <div class="card__bottom">
              <a href="nft-page.html" class="card__title">Colorful Dog 0356</a>
              <a class="card__author" href="artist.html">
                <img class="card__avatar" src="img/avatar-15.png">
                <p>Keepitreal</p>
              </a>
              <div class="card__worth">
                <div class="card__cost"><p>Price</p><span class="card__price">0.88 ETH</span></div>
                <div class="card__bid"><p>Highest Bid</p><span class="card__price">0.08 wETH</span></div>
              </div>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="card">
            <a href="nft-page.html" class="card__link">
              <img src="img/marketplace-6.png" srcset="img/marketplace-6_2x.png 2x" alt="NFT image" class="card__image">
            </a>
            <div class="card__bottom">
              <a href="nft-page.html" class="card__title">Dancing Robot 0312</a>
              <a class="card__author" href="artist.html">
                <img class="card__avatar" src="img/avatar-8.png">
                <p>Robotica</p>
              </a>
              <div class="card__worth">
                <div class="card__cost"><p>Price</p><span class="card__price">0.77 ETH</span></div>
                <div class="card__bid"><p>Highest Bid</p><span class="card__price">0.07 wETH</span></div>
              </div>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="card">
            <a href="nft-page.html" class="card__link">
              <img src="img/marketplace-7.png" srcset="img/marketplace-7_2x.png 2x" alt="NFT image" class="card__image">
            </a>
            <div class="card__bottom">
              <a href="nft-page.html" class="card__title">Cherry Blossom Girl 035</a>
              <a class="card__author" href="artist.html">
                <img class="card__avatar" src="img/avatar-16.png">
                <p>MoonDancer</p>
              </a>
              <div class="card__worth">
                <div class="card__cost"><p>Price</p><span class="card__price">0.66 ETH</span></div>
                <div class="card__bid"><p>Highest Bid</p><span class="card__price">0.06 wETH</span></div>
              </div>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="card">
            <a href="nft-page.html" class="card__link">
              <img src="img/marketplace-8.png" srcset="img/marketplace-8_2x.png 2x" alt="NFT image" class="card__image">
            </a>
            <div class="card__bottom">
              <a href="nft-page.html" class="card__title">Space Travel</a>
              <a class="card__author" href="artist.html">
                <img class="card__avatar" src="img/avatar-10.png">
                <p>NebulaKid</p>
              </a>
              <div class="card__worth">
                <div class="card__cost"><p>Price</p><span class="card__price">0.55 ETH</span></div>
                <div class="card__bid"><p>Highest Bid</p><span class="card__price">0.05 wETH</span></div>
              </div>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="card">
            <a href="nft-page.html" class="card__link">
              <img src="img/marketplace-9.png" srcset="img/marketplace-9_2x.png 2x" alt="NFT image" class="card__image">
            </a>
            <div class="card__bottom">
              <a href="nft-page.html" class="card__title">Sunset Dimension</a>
              <a class="card__author" href="artist.html">
                <img class="card__avatar" src="img/avatar-14.png">
                <p>Animakid</p>
              </a>
              <div class="card__worth">
                <div class="card__cost"><p>Price</p><span class="card__price">0.44 ETH</span></div>
                <div class="card__bid"><p>Highest Bid</p><span class="card__price">0.04 wETH</span></div>
              </div>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="card">
            <a href="nft-page.html" class="card__link">
              <img src="img/marketplace-10.png" srcset="img/marketplace-10_2x.png 2x" alt="NFT image" class="card__image">
            </a>
            <div class="card__bottom">
              <a href="nft-page.html" class="card__title">Desert Walk</a>
              <a class="card__author" href="artist.html">
                <img class="card__avatar" src="img/avatar-20.png">
                <p>Catch 22</p>
              </a>
              <div class="card__worth">
                <div class="card__cost"><p>Price</p><span class="card__price">0.33 ETH</span></div>
                <div class="card__bid"><p>Highest Bid</p><span class="card__price">0.03 wETH</span></div>
              </div>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="card">
            <a href="nft-page.html" class="card__link">
              <img src="img/marketplace-11.png" srcset="img/marketplace-11_2x.png 2x" alt="NFT image" class="card__image">
            </a>
            <div class="card__bottom">
              <a href="nft-page.html" class="card__title">IceCream Ape 0324</a>
              <a class="card__author" href="artist.html">
                <img class="card__avatar" src="img/avatar-18.png">
                <p>Ice Ape Club</p>
              </a>
              <div class="card__worth">
                <div class="card__cost"><p>Price</p><span class="card__price">0.22 ETH</span></div>
                <div class="card__bid"><p>Highest Bid</p><span class="card__price">0.02 wETH</span></div>
              </div>
            </div>
          </div>
        </li>
        <li class="works__item">
          <div class="card">
            <a href="nft-page.html" class="card__link">
              <img src="img/marketplace-12.png" srcset="img/marketplace-12_2x.png 2x" alt="NFT image" class="card__image">
            </a>
            <div class="card__bottom">
              <a href="nft-page.html" class="card__title">Colorful Dog 0344</a>
              <a class="card__author" href="artist.html">
                <img class="card__avatar" src="img/avatar-13.png">
                <p>PuppyPower</p>
              </a>
              <div class="card__worth">
                <div class="card__cost"><p>Price</p><span class="card__price">0.11 ETH</span></div>
                <div class="card__bid"><p>Highest Bid</p><span class="card__price">0.01 wETH</span></div>
              </div>
            </div>
          </div>
        </li>
      </ul> <!-- ./#Owned -->
      <!-- #Collections -->
      <ul id="Collections" class="works__list list-reset flex">
        <!-- Collection 1 -->
        <li class="collection">
          <div class="collection__top">
            <ul class="collection__list list-reset">
              <li class="collection__item collection__item--big">
                <a class="collection__link" href="nft-page.html">
                  <img class="collection__image" src="img/collection-1-image-1.png" srcset="img/collection-1-image-1_2x.png 2x" alt="Collection image">
                </a>
              </li>
              <li class="collection__item">
                <a class="collection__link" href="nft-page.html">
                  <img class="collection__image" src="img/collection-1-image-2.png" srcset="img/collection-1-image-2_2x.png 2x" alt="Collection image">
                </a>
              </li>
              <li class="collection__item">
                <a class="collection__link" href="nft-page.html">
                  <img class="collection__image" src="img/collection-1-image-3.png" srcset="img/collection-1-image-3_2x.png 2x" alt="Collection image">
                </a>
              </li>
              <li class="collection__item">
                <a class="collection__link collection__more" href="#">
                  1025+
                </a>
              </li>
            </ul> <!-- ./collection__list -->
          </div> <!-- ./collection__top -->
          <div class="collection__bottom">
            <a class="collection__title" href="#" >DSGN Animals</a>
            <a class="collection__author" href="artist.html">
              <img class="collection__avatar" src="img/avatar-6.png" alt="Author Avatar">
              <p>MrFox</p>
            </a>
          </div>
        </li> <!-- ./collection -->
        <!-- Collection 2 -->
        <li class="collection">
          <div class="collection__top">
            <ul class="collection__list list-reset">
              <li class="collection__item collection__item--big">
                <a class="collection__link" href="nft-page.html">
                  <img class="collection__image" src="img/collection-2-image-1.png" srcset="img/collection-2-image-1_2x.png 2x" alt="Collection image">
                </a>
              </li>
              <li class="collection__item">
                <a class="collection__link" href="nft-page.html">
                  <img class="collection__image" src="img/collection-2-image-2.png" srcset="img/collection-2-image-2_2x.png 2x" alt="Collection image">
                </a>
              </li>
              <li class="collection__item">
                <a class="collection__link" href="nft-page.html">
                  <img class="collection__image" src="img/collection-2-image-3.png" srcset="img/collection-2-image-3_2x.png 2x" alt="Collection image">
                </a>
              </li>
              <li class="collection__item">
                <a class="collection__link collection__more" href="#">
                  322+
                </a>
              </li>
            </ul> <!-- ./collection__list -->
          </div> <!-- ./collection__top -->
          <div class="collection__bottom">
            <a class="collection__title" href="#">Magic Mushrooms</a>
            <a class="collection__author" href="artist.html">
              <img class="collection__avatar" src="img/avatar-7.png" alt="Author Avatar">
              <p>Shroomie</p>
            </a>
          </div>
        </li> <!-- ./collection -->
        <!-- Collection 3 -->
        <li class="collection">
          <div class="collection__top">
            <ul class="collection__list list-reset">
              <li class="collection__item collection__item--big">
                <a class="collection__link" href="nft-page.html">
                  <img class="collection__image" src="img/collection-3-image-1.png" srcset="img/collection-3-image-1_2x.png 2x" alt="Collection image">
                </a>
              </li>
              <li class="collection__item">
                <a class="collection__link" href="nft-page.html">
                  <img class="collection__image" src="img/collection-3-image-2.png" srcset="img/collection-3-image-2_2x.png 2x" alt="Collection image">
                </a>
              </li>
              <li class="collection__item">
                <a class="collection__link" href="nft-page.html">
                  <img class="collection__image" src="img/collection-3-image-3.png" srcset="img/collection-3-image-3_2x.png 2x" alt="Collection image">
                </a>
              </li>
              <li class="collection__item">
                <a class="collection__link collection__more" href="#">
                  546+
                </a>
              </li>
            </ul> <!-- ./collection__list -->
          </div> <!-- ./collection__top -->
          <div class="collection__bottom">
            <a class="collection__title" href="#">Disco Machines</a>
            <a class="collection__author" href="artist.html">
              <img class="collection__avatar" src="img/avatar-11.png" alt="Author Avatar">
              <p>BeKind2Robots</p>
            </a>
          </div>
        </li> <!-- ./collection -->
      </ul> <!-- ./#Collections -->
    </div>
  </div>
</section>
