<section class="categories">
  <div class="container">
    <div class="section__header">
      <div class="section__title">Browse Categories</div>
    </div>
    <ul class="categories__list grid list-reset">
      <li class="categories__item">
        <div class="card">
          <div class="card__link">
            <img src="img/categories-1.png" srcset="img/categories-1_2x.png 2x" alt="Category image" class="card__image">
            <img src="img/categories-1-icon.svg" alt="" class="card__icon">
          </div>
          <div class="card__bottom">
            <div class="card__title">Art</div>
          </div>
        </div>
      </li>
      <li class="categories__item">
        <div class="card">
          <div class="card__link">
            <img src="img/categories-2.png" srcset="img/categories-2_2x.png 2x" alt="Category image" class="card__image">
            <img src="img/categories-2-icon.svg" alt="" class="card__icon">
          </div>
          <div class="card__bottom">
            <div class="card__title">Collectibles</div>
          </div>
        </div>
      </li>
      <li class="categories__item">
        <div class="card">
          <div class="card__link">
            <img src="img/categories-3.png" srcset="img/categories-3_2x.png 2x" alt="Category image" class="card__image">
            <img src="img/categories-3-icon.svg" alt="" class="card__icon">
          </div>
          <div class="card__bottom">
            <div class="card__title">Music</div>
          </div>
        </div>
      </li>
      <li class="categories__item">
        <div class="card">
          <div class="card__link">
            <img src="img/categories-4.png" srcset="img/categories-4_2x.png 2x" alt="Category image" class="card__image">
            <img src="img/categories-4-icon.svg" alt="" class="card__icon">
          </div>
          <div class="card__bottom">
            <div class="card__title">Photography</div>
          </div>
        </div>
      </li>
      <li class="categories__item">
        <div class="card">
          <div class="card__link">
            <img src="img/categories-5.png" srcset="img/categories-5_2x.png 2x" alt="Category image" class="card__image">
            <img src="img/categories-5-icon.svg" alt="" class="card__icon">
          </div>
          <div class="card__bottom">
            <div class="card__title">Video</div>
          </div>
        </div>
      </li>
      <li class="categories__item">
        <div class="card">
          <div class="card__link">
            <img src="img/categories-6.png" srcset="img/categories-6_2x.png 2x" alt="Category image" class="card__image">
            <img src="img/categories-6-icon.svg" alt="" class="card__icon">
          </div>
          <div class="card__bottom">
            <div class="card__title">Utility</div>
          </div>
        </div>
      </li>
      <li class="categories__item">
        <div class="card">
          <div class="card__link">
            <img src="img/categories-7.png" srcset="img/categories-7_2x.png 2x" alt="Category image" class="card__image">
            <img src="img/categories-7-icon.svg" alt="" class="card__icon">
          </div>
          <div class="card__bottom">
            <div class="card__title">Sport</div>
          </div>
        </div>
      </li>
      <li class="categories__item">
        <div class="card">
          <div class="card__link">
            <img src="img/categories-8.png" srcset="img/categories-8_2x.png 2x" alt="Category image" class="card__image">
            <img src="img/categories-8-icon.svg" alt="" class="card__icon">
          </div>
          <div class="card__bottom">
            <div class="card__title">Virtual Worlds</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
