<footer class="footer">
  <div class="container">
    <div class="footer__top flex">
      <div class="footer__column">
        <div class="footer__title">
          <div class="footer__logo-link">
            <img src="img/store.svg" width="32px" height="32px" alt="Logo icon" class="footer__logo-icon">
            <img src="img/logo.svg" alt="Logo text" class="footer__logo-text">
          </div>
        </div>
        <p class="footer__text">NFT marketplace UI created with Anima for Figma.</p>
        <p class="footer__text">Join our community</p>
        <ul class="social__list flex list-reset">
          <li class="social__item"><a href="#" class="social__link"><img src="img/discord.svg" alt="Social icon" class="social__icon"></a></li>
          <li class="social__item"><a href="#" class="social__link"><img src="img/youtube.svg" alt="Social icon" class="social__icon"></a></li>
          <li class="social__item"><a href="#" class="social__link"><img src="img/twitter.svg" alt="Social icon" class="social__icon"></a></li>
          <li class="social__item"><a href="#" class="social__link"><img src="img/instagram.svg" alt="Social icon" class="social__icon"></a></li>
        </ul>
      </div>
      <div class="footer__column">
        <div class="footer__title">Explore</div>
        <a href="#" class="footer__text">Marketplace</a>
        <a href="#" class="footer__text">Rankings</a>
        <a href="#" class="footer__text">Connect a wallet</a>
      </div>
      <div class="footer__column">
        <div class="footer__title">Join our weekly digest</div>
        <p class="footer__text">Get exclusive promotions & updates straight to your inbox.</p>
        <form class="subscribe__form" action="#" method="post">
          <input class="subscribe__input input-reset" type="email" name="email" placeholder="Enter your email here">
          <button type="submit" class="btn btn--envelop subscribe__btn btn-reset">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copy">Ⓒ NFT Market. Use this template freely.</p>
    </div>
  </div>
</footer>
