<section class="guide">
  <div class="container">
    <div class="section__header">
      <div class="section__left">
        <div class="section__title">How it works</div>
        <div class="section__subtitle">Find out how to get started</div>
      </div>
    </div>
    <ul class="guide__list grid list-reset">
      <li class="guide__item">
        <div class="card card--centered">
          <div class="card__top">
            <img src="img/guide-1.png" alt="Guide image" class="card__image" srcset="img/guide-1_2x.png 2x">
          </div>
          <div class="card__bottom">
            <div class="card__title">Setup Your wallet</div>
            <div class="card__text">Set up your wallet of choice. Connect it to the Animarket by clicking the wallet icon in the top right corner.</div>
          </div>
        </div>
      </li>
      <li class="guide__item">
        <div class="card card--centered">
          <div class="card__top">
            <img src="img/guide-2.png" alt="Guide image" class="card__image" srcset="img/guide-2_2x.png 2x">
          </div>
          <div class="card__bottom">
            <div class="card__title">Create Collection</div>
            <div class="card__text">Upload your work and setup your collection. Add a description, social links and floor price.</div>
          </div>
        </div>
      </li>
      <li class="guide__item">
        <div class="card card--centered">
          <div class="card__top">
            <img src="img/guide-3.png" alt="Guide image" class="card__image" srcset="img/guide-3_2x.png 2x">
          </div>
          <div class="card__bottom">
            <div class="card__title">Start Earning</div>
            <div class="card__text">Choose between auctions and fixed-price listings. Start earning by selling your NFTs or trading others.</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
