<header class="header">
  <div class="container header__container">

    <div class="header__logo">
      <a href="#" class="header__logo-link">

        <img src="img/store.svg" width="32px" height="32px" alt="Logo icon" class="header__logo-icon">
        <img src="img/logo.svg" alt="Logo text" class="header__logo-text">

      </a>
    </div>

    <nav class="nav" title="nav">
      <ul class="nav__list list-reset flex">

        <li class="nav__item">
          <a class="nav__link" href="#">Marketplace</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#">Rankings</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#">Connect a wallet</a>
        </li>

        <li class="nav__item">
          <a class="nav__link btn btn--header" href="#">Sign Up</a>
        </li>

      </ul>
    </nav>

  </div>
</header>
