<section class="hero">
  <div class="container grid">

    <div class="hero__left">
      <div class="hero__descr">
        <h1 class="hero__title">Discover digital art & Collect NFTs</h1>
        <p class="hero__subtitle">NFT marketplace UI created with Anima for Figma. Collect, buy and sell art from more than 20k NFT artists.</p>
      </div>
      <button class="btn btn--rocket btn-reset">Get Started</button>

      <ul class="hero__list list-reset flex">

        <li class="hero__stats">
          <h2 class="hero__digits">240k+</h2>
          <p class="hero__object">Total Sale</p>
        </li>

        <li class="hero__stats">
          <h2 class="hero__digits">100k+</h2>
          <p class="hero__object">Auctions</p>
        </li>

        <li class="hero__stats">
          <h2 class="hero__digits">240k+</h2>
          <p class="hero__object">Artists</p>
        </li>

      </ul>

    </div>

    <div class="hero__right">
      <div class="card card--autoheight">
        <a class="card__link" href="#">
          <img class="card__image" src="img/hero-card.jpg" srcset="img/hero-card_2x.jpg 2x" alt="Card">
        </a>
        <div class="card__bottom">
          <a class="card__title" href="#">Space Walking</a>
          <a class="card__author" href="#">
            <img class="card__avatar" src="img/avatar-13.png" alt="Author Avatar">
            <p>Animakid</p>
          </a>
        </div>

      </div>
    </div>

  </div>
</section>
