<section class="highlight">
  <div class="container">
    <div class="highlight__inner flex">
      <div class="highlight__left">
        <a href="#" class="highlight__author">
          <img src="img/avatar-7.png" alt="Creator Avatar" class="highlight__avatar">
          <p>Shroomie</p>
        </a>
        <div class="highlight__title">Magic Mushrooms</div>
        <a href="#" class="btn btn--eye-dark btn--light">See NFT</a>
      </div>
      <div class="highlight__right">
        <div class="highlight__auction">Auction ends in:</div>
        <div class="highlight__timer">
          <div class="highlight__time">
            <span>59</span><span class="highlight__time-mark">Hours</span>
          </div>
          <div class="highlight__time">:</div>
          <div class="highlight__time">
            <span>59</span><span class="highlight__time-mark">Minutes</span>
          </div>
          <div class="highlight__time">:</div>
          <div class="highlight__time">
            <span>59</span><span class="highlight__time-mark">Seconds</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
