<section class="rankings">
  <div class="container">
    <div class="section__header">
      <div class="section__left">
        <div class="section__title">Top creators</div>
        <div class="section__subtitle">Checkout Top Rated Creators on the NFT Marketplace</div>
      </div>
      <div class="section__right">
        <a href="#" class="btn btn--rocket btn--dark">View Rankings</a>
      </div>
    </div>
    <ul class="rankings__list grid list-reset">
      <li class="rankings__item">
        <div class="card card--centered">
          <a class="card__avatar card__avatar--big" href="#">
            <img src="img/avatar-1.png" alt="Avatar Image">
          </a>
          <div class="card__bottom">
            <a class="card__title">Keepitreal</a>
            <div class="card__total-sales"><span>Total Sales:</span><br><span class="card__price">144.144 ETH</span></div>
          </div>
        </div>
      </li>
      <li class="rankings__item">
        <div class="card card--centered">
          <a class="card__avatar card__avatar--big" href="#">
            <img src="img/avatar-2.png" alt="Avatar Image">
          </a>
          <div class="card__bottom">
            <a class="card__title">DigiLab</a>
            <div class="card__total-sales"><span>Total Sales:</span><br><span class="card__price">121.121 ETH</span></div>
          </div>
        </div>
      </li>
      <li class="rankings__item">
        <div class="card card--centered">
          <a class="card__avatar card__avatar--big" href="#">
            <img src="img/avatar-3.png" alt="Avatar Image">
          </a>
          <div class="card__bottom">
            <a class="card__title">GravityOne</a>
            <div class="card__total-sales"><span>Total Sales:</span><br><span class="card__price">110.110 ETH</span></div>
          </div>
        </div>
      </li>
      <li class="rankings__item">
        <div class="card card--centered">
          <a class="card__avatar card__avatar--big" href="#">
            <img src="img/avatar-4.png" alt="Avatar Image">
          </a>
          <div class="card__bottom">
            <a class="card__title">Juanie</a>
            <div class="card__total-sales"><span>Total Sales:</span><br><span class="card__price">99.99 ETH</span></div>
          </div>
        </div>
      </li>
      <li class="rankings__item">
        <div class="card card--centered">
          <a class="card__avatar card__avatar--big" href="#">
            <img src="img/avatar-5.png" alt="Avatar Image">
          </a>
          <div class="card__bottom">
            <a class="card__title">BlueWhale</a>
            <div class="card__total-sales"><span>Total Sales:</span><br><span class="card__price">88.88 ETH</span></div>
          </div>
        </div>
      </li>
      <li class="rankings__item">
        <div class="card card--centered">
          <a class="card__avatar card__avatar--big" href="#">
            <img src="img/avatar-6.png" alt="Avatar Image">
          </a>
          <div class="card__bottom">
            <a class="card__title">mr fox</a>
            <div class="card__total-sales"><span>Total Sales:</span><br><span class="card__price">77.77 ETH</span></div>
          </div>
        </div>
      </li>
      <li class="rankings__item">
        <div class="card card--centered">
          <a class="card__avatar card__avatar--big" href="#">
            <img src="img/avatar-7.png" alt="Avatar Image">
          </a>
          <div class="card__bottom">
            <a class="card__title">Shroomie</a>
            <div class="card__total-sales"><span>Total Sales:</span><br><span class="card__price">66.66 ETH</span></div>
          </div>
        </div>
      </li>
      <li class="rankings__item">
        <div class="card card--centered">
          <a class="card__avatar card__avatar--big" href="#">
            <img src="img/avatar-8.png" alt="Avatar Image">
          </a>
          <div class="card__bottom">
            <a class="card__title">robotica</a>
            <div class="card__total-sales"><span>Total Sales:</span><br><span class="card__price">55.55 ETH</span></div>
          </div>
        </div>
      </li>
      <li class="rankings__item">
        <div class="card card--centered">
          <a class="card__avatar card__avatar--big" href="#">
            <img src="img/avatar-20.png" alt="Avatar Image">
          </a>
          <div class="card__bottom">
            <a class="card__title">RustyRobot</a>
            <div class="card__total-sales"><span>Total Sales:</span><br><span class="card__price">44.44 ETH</span></div>
          </div>
        </div>
      </li>
      <li class="rankings__item">
        <div class="card card--centered">
          <a class="card__avatar card__avatar--big" href="#">
            <img src="img/avatar-13.png" alt="Avatar Image">
          </a>
          <div class="card__bottom">
            <a class="card__title">animakid</a>
            <div class="card__total-sales"><span>Total Sales:</span><br><span class="card__price">33.33 ETH</span></div>
          </div>
        </div>
      </li>
      <li class="rankings__item">
        <div class="card card--centered">
          <a class="card__avatar card__avatar--big" href="#">
            <img src="img/avatar-14.png" alt="Avatar Image">
          </a>
          <div class="card__bottom">
            <a class="card__title">Dotgu</a>
            <div class="card__total-sales"><span>Total Sales:</span><br><span class="card__price">22.22 ETH</span></div>
          </div>
        </div>
      </li>
      <li class="rankings__item">
        <div class="card card--centered">
          <a class="card__avatar card__avatar--big" href="#">
            <img src="img/avatar-16.png" alt="Avatar Image">
          </a>
          <div class="card__bottom">
            <a class="card__title">Ghiblier</a>
            <div class="card__total-sales"><span>Total Sales:</span><br><span class="card__price">11.11 ETH</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
