<section class="ratings__header">
  <div class="container">
    <div class="section__header">
      <div class="section__left">
        <div class="section__title">Top Creators</div>
        <div class="section__subtitle">Check out top ranking NFT artists on the NFT Marketplace.</div>
      </div>
    </div>
  </div>
</section>
<section class="ratings__main">
  <div class="works__header container">
    <ul class="works__category-list list-reset flex">
      <li data-id="Today" class="works__category-item active">
        <button class="works__category-link btn-reset">
          <p class="works__category-title">Today</p>
        </button>
      </li>
      <li data-id="ThisWeek" class="works__category-item">
        <button class="works__category-link btn-reset">
          <p class="works__category-title">This Week</p>
        </button>
      </li>
      <li data-id="ThisMonth" class="works__category-item">
        <button class="works__category-link btn-reset">
          <p class="works__category-title">This Month</p>
        </button>
      </li>
      <li data-id="AllTime" class="works__category-item">
        <button class="works__category-link btn-reset">
          <p class="works__category-title">All Time</p>
        </button>
      </li>
    </ul>
  </div>
  <!-- Rankings table -->
  <div class="container ratings__inner">
    <table id="Today" class="ratings__table active">
      <thead class="ratings__table-head">
        <tr class="ratings__table-header">
          <th class="ratings__header-rank">#</th>
          <th class="ratings__header-artist">Artist</th>
          <th class="ratings__header-change">Change</th>
          <th class="ratings__header-sales">NFTs Sold</th>
          <th class="ratings__header-volume">Volume</th>
        </tr>
      </thead>
      <tbody class="ratings__table-body">
        <tr class="ratings__table-row">
          <td class="ratings__rank">1</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-1.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Jaydon Ekstrom Bothman</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+10.00%</td>
          <td class="ratings__sales">2000</td>
          <td class="ratings__volume">20.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">2</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-2.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Ruben Carder</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+9.00%</td>
          <td class="ratings__sales">1900</td>
          <td class="ratings__volume">19.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">3</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-3.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Alfredo Septimus</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+8.00%</td>
          <td class="ratings__sales">1800</td>
          <td class="ratings__volume">18.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">4</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-4.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Davis Franci</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+7.00%</td>
          <td class="ratings__sales">1700</td>
          <td class="ratings__volume">17.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">5</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-5.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Livia Rosser</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+6.00%</td>
          <td class="ratings__sales">1600</td>
          <td class="ratings__volume">16.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">6</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-6.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Kianna Donin</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+5.00%</td>
          <td class="ratings__sales">1500</td>
          <td class="ratings__volume">15.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">7</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-7.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Phillip Lipshutz</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+4.00%</td>
          <td class="ratings__sales">1400</td>
          <td class="ratings__volume">14.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">8</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-8.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Maria Rosser</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+3.00%</td>
          <td class="ratings__sales">1300</td>
          <td class="ratings__volume">13.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">9</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-9.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Kianna Stanton</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+2.00%</td>
          <td class="ratings__sales">1200</td>
          <td class="ratings__volume">12.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">10</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-10.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Angel Lubin</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+1.00%</td>
          <td class="ratings__sales">1100</td>
          <td class="ratings__volume">11.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">11</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-11.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Allison Torff</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--minus">-1.00%</td>
          <td class="ratings__sales">1000</td>
          <td class="ratings__volume">10.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">12</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-12.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Davis Workman</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--minus">-2.00%</td>
          <td class="ratings__sales">900</td>
          <td class="ratings__volume">9.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">13</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-13.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Lindsey Lipshutz</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--minus">-3.00%</td>
          <td class="ratings__sales">800</td>
          <td class="ratings__volume">8.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">14</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-14.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Randy Carder</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--minus">-4.00%</td>
          <td class="ratings__sales">700</td>
          <td class="ratings__volume">7.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">15</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-15.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Lydia Culhane</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--minus">-5.00%</td>
          <td class="ratings__sales">600</td>
          <td class="ratings__volume">6.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">16</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-16.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Rayna Bator</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--minus">-6.00%</td>
          <td class="ratings__sales">500</td>
          <td class="ratings__volume">5.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">17</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-17.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Jocelyn Westervelt</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--minus">-7.00%</td>
          <td class="ratings__sales">400</td>
          <td class="ratings__volume">4.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">18</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-18.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Marilyn Torff</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--minus">-8.00%</td>
          <td class="ratings__sales">300</td>
          <td class="ratings__volume">3.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">19</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-19.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Skylar Levin</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--minus">-9.00%</td>
          <td class="ratings__sales">200</td>
          <td class="ratings__volume">2.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">20</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-20.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Terry Dorwart</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--minus">-10.00%</td>
          <td class="ratings__sales">100</td>
          <td class="ratings__volume">1.0 ETH</td>
        </tr>
      </tbody>
    </table>
    <!-- ./#Today table -->
    <!-- #ThisWeek table -->
    <table id="ThisWeek" class="ratings__table">
      <thead class="ratings__table-head">
        <tr class="ratings__table-header">
          <th class="ratings__header-rank">#</th>
          <th class="ratings__header-artist">Artist</th>
          <th class="ratings__header-change">Change</th>
          <th class="ratings__header-sales">NFTs Sold</th>
          <th class="ratings__header-volume">Volume</th>
        </tr>
      </thead>
      <tbody class="ratings__table-body">
        <tr class="ratings__table-row">
          <td class="ratings__rank">1</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-1.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Jaydon Ekstrom Bothman</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+10.00%</td>
          <td class="ratings__sales">2000</td>
          <td class="ratings__volume">20.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">2</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-2.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Ruben Carder</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+9.00%</td>
          <td class="ratings__sales">1900</td>
          <td class="ratings__volume">19.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">3</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-3.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Alfredo Septimus</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+8.00%</td>
          <td class="ratings__sales">1800</td>
          <td class="ratings__volume">18.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">4</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-4.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Davis Franci</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+7.00%</td>
          <td class="ratings__sales">1700</td>
          <td class="ratings__volume">17.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">5</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-5.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Livia Rosser</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+6.00%</td>
          <td class="ratings__sales">1600</td>
          <td class="ratings__volume">16.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">6</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-6.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Kianna Donin</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+5.00%</td>
          <td class="ratings__sales">1500</td>
          <td class="ratings__volume">15.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">7</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-7.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Phillip Lipshutz</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+4.00%</td>
          <td class="ratings__sales">1400</td>
          <td class="ratings__volume">14.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">8</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-8.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Maria Rosser</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+3.00%</td>
          <td class="ratings__sales">1300</td>
          <td class="ratings__volume">13.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">9</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-9.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Kianna Stanton</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+2.00%</td>
          <td class="ratings__sales">1200</td>
          <td class="ratings__volume">12.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">10</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-10.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Angel Lubin</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+1.00%</td>
          <td class="ratings__sales">1100</td>
          <td class="ratings__volume">11.0 ETH</td>
        </tr>
      </tbody>
    </table>
    <!-- ./#ThisWeek table -->
    <!-- #ThisMonth -->
    <table id="ThisMonth" class="ratings__table">
      <thead class="ratings__table-head">
        <tr class="ratings__table-header">
          <th class="ratings__header-rank">#</th>
          <th class="ratings__header-artist">Artist</th>
          <th class="ratings__header-change">Change</th>
          <th class="ratings__header-sales">NFTs Sold</th>
          <th class="ratings__header-volume">Volume</th>
        </tr>
      </thead>
      <tbody class="ratings__table-body">
        <tr class="ratings__table-row">
          <td class="ratings__rank">1</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-1.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Jaydon Ekstrom Bothman</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+10.00%</td>
          <td class="ratings__sales">2000</td>
          <td class="ratings__volume">20.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">2</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-2.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Ruben Carder</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+9.00%</td>
          <td class="ratings__sales">1900</td>
          <td class="ratings__volume">19.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">3</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-3.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Alfredo Septimus</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+8.00%</td>
          <td class="ratings__sales">1800</td>
          <td class="ratings__volume">18.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">4</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-4.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Davis Franci</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+7.00%</td>
          <td class="ratings__sales">1700</td>
          <td class="ratings__volume">17.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">5</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-5.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Livia Rosser</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+6.00%</td>
          <td class="ratings__sales">1600</td>
          <td class="ratings__volume">16.0 ETH</td>
        </tr>
      </tbody>
    </table>
    <!-- ./#ThisMonth table -->
    <!-- #AllTime table -->
    <table id="AllTime" class="ratings__table">
      <thead class="ratings__table-head">
        <tr class="ratings__table-header">
          <th class="ratings__header-rank">#</th>
          <th class="ratings__header-artist">Artist</th>
          <th class="ratings__header-change">Change</th>
          <th class="ratings__header-sales">NFTs Sold</th>
          <th class="ratings__header-volume">Volume</th>
        </tr>
      </thead>
      <tbody class="ratings__table-body">
        <tr class="ratings__table-row">
          <td class="ratings__rank">1</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-1.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Jaydon Ekstrom Bothman</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+10.00%</td>
          <td class="ratings__sales">2000</td>
          <td class="ratings__volume">20.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">2</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-2.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Ruben Carder</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+9.00%</td>
          <td class="ratings__sales">1900</td>
          <td class="ratings__volume">19.0 ETH</td>
        </tr>
        <tr class="ratings__table-row">
          <td class="ratings__rank">3</td>
          <td class="ratings__artist">
            <a href="artist.html" class="ratings__link">
              <img src="img/avatar-3.png" alt="Artist Avatar" class="ratings__avatar">
              <h3 class="ratings__name">Alfredo Septimus</h3>
            </a>
          </td>
          <td class="ratings__change ratings__change--plus">+8.00%</td>
          <td class="ratings__sales">1800</td>
          <td class="ratings__volume">18.0 ETH</td>
        </tr>
      </tbody>
    </table>
    <!-- ./#AllTime table -->
  </div>
</section>
