<section class="subscribe">
  <div class="container">
    <div class="section__inner flex">
      <div class="section__left">
        <img src="img/subscribe.png" srcset="img/subscribe_2x.png 2x" alt="Subscribe image" class="subscribe__image">
      </div>
      <div class="section__right">
        <div class="section__header">
          <div class="section__title">Join our weekly digest</div>
          <div class="section__subtitle">Get exclusive promotions & updates straight to your inbox.</div>
        </div>
        <form class="subscribe__form" action="#" method="post">
          <input class="subscribe__input input-reset" type="email" name="email" placeholder="Enter your email here">
          <button type="submit" class="btn btn--envelop subscribe__btn btn-reset">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
