<section class="wallet">
  <div class="container flex">
    <div class="section__left">
      <img src="img/wallet.png"  srcset="img/wallet_2x.png 2x" alt="Wallet Image" class="wallet__image">
    </div>
    <div class="section__right">
      <div class="register__header">
        <div class="register__title">Connect wallet</div>
        <div class="register__subtitle">Choose a wallet you want to connect. There are several wallet providers.</div>
      </div>
      <div class="wallet__list list-reset flex">
        <div class="wallet__item">
          <a href="#" class="btn btn--large btn--dark">
            <img src="img/metamask.png" width="40" height="40" alt="Wallet Icon" class="wallet__icon">
            <p class="wallet__title">Metamask</p>
          </a>
        </div>
        <div class="wallet__item">
          <a href="#" class="btn btn--large btn--dark">
            <img src="img/wallet-connect.png" width="40" height="40" alt="Wallet Icon" class="wallet__icon">
            <p class="wallet__title">Wallet Connect</p>
          </a>
        </div>
        <div class="wallet__item">
          <a href="#" class="btn btn--large btn--dark">
            <img src="img/coinbase.png" width="40" height="40" alt="Wallet Icon" class="wallet__icon">
            <p class="wallet__title">Coinbase</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
