html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--main-font, sans-serif);
  color: var(--white-text);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  font-size: 16px;
  background-color: var(--background);
}

section {
  padding-top: 80px;
  padding-bottom: 80px;

  @include mini-desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include mini-tablet {
    position: relative;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.site-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.main {
  flex-grow: 1;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  @include mini-desktop {
    padding: 0 72px;
  }

  @include small-tablet {
    padding: 0 30px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.no-padding {
  padding: 0;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--offset);

  @include medium_tablet {
    gap: 15px;
  }
}

.section {
  &__inner {
    padding: 60px;
    border-radius: 20px;
    background-color: var(--background-secondary);

    @include mini-desktop {
      padding: 40px 30px;
    }
  }

  &__header {
    margin-bottom: 60px;
    display: flex;
    align-items: flex-end;
    gap: 100px;

    @include mini-desktop {
      margin-bottom: 40px;
    }

    @include mini-tablet {
      text-align: center;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    flex-grow: 1;
  }

  &__title {
    margin: 0;
    color: var(--white-text);
    font-size: 38px;
    font-family: var(--main-font-semibold);
    line-height: 120%;
    text-transform: capitalize;

    @include mini-desktop {
      font-size: 28px;
    }
  }

  &__subtitle {
    margin: 0;
    color: var(--white-text);
    font-size: 22px;
    font-family: var(--main-font);
    line-height: 160%;
    text-transform: capitalize;

    @include mini-desktop {
      font-size: 16px;
    }
  }

  &__btn {
    @include mini-tablet {
      position: absolute;
      width: 315px;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.stats {
  flex-grow: 1;

  &__digits {
    margin: 0;

    color: var(--white-text);
    font-size: 28px;
    font-family: var(--second-font-bold);
    line-height: 140%;
    text-transform: capitalize;

    @include mini-desktop {
      font-size: 22px;
    }
  }

  &__title {
    margin: 0;

    color: var(--white-text);
    font-size: 22px;
    font-family: var(--main-font);
    line-height: 160%;
    text-transform: capitalize;

    @include mini-desktop {
      font-size: 16px;
    }
  }
}

.search {
  width: 100%;
  height: 60px;
  padding: 12px 0 12px 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--background-secondary);
  border-radius: 20px;

  &__input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white-text);

    &:placeholder {
      color: var(--caption-label-text);
      font-size: 16px;
      font-family: var(--main-font);
      line-height: 140%;
    }
  }

  &__link {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--call-to-action);
    cursor: pointer;
    transition: opacity .3s ease-in-out;

    @include hover {
      opacity: .8;
    }
  }
}
